<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Interest - Récupération</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>Récupération Mot de passe</ion-card-title>
      <ion-card-subtitle>Saisir votre adresse email</ion-card-subtitle>

      <ion-card-content>
        <form [formGroup]="recoverForm" (submit)="doRecovering()">
          <ion-item-group>
            <ion-item>
              <ion-input placeholder="Adresse email" formControlName="email" type="email"></ion-input>
            </ion-item>

            <ion-button class="btn-submit" color="secondary" expand="full" type="submit" [disabled]="!recoverForm.valid">Récupération</ion-button>
          </ion-item-group>
        </form>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
